#iad{
	padding-bottom: 65px;
}
#staff{
	margin-top: -75px;
}
#staff .staff-wrapper{
	position: relative;
	text-align: center;
}
#staff .staff-wrapper .staff-content{
	display: inline-block;
	margin: 0px auto 10px;
}
#staff .staff-wrapper .staff-content.bar-size-4{
	width: 24%;
	vertical-align: top;
}
#staff .staff-wrapper .staff-content .img{
	width: 230px;
	height: 230px;
	margin: 0px auto;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#staff .staff-wrapper .staff-content .name-wrapper{
	position: relative;
	padding-bottom: 5px;
    width: 100%;
    display: table;
}
#staff .staff-wrapper .staff-content .name-wrapper h2{
    font-family: 'open sans';
    margin: 10px 0px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}
#staff .staff-wrapper .staff-content .name-wrapper h2.name{
    color: rgb(69,186,1);
}
#staff .staff-wrapper .staff-content .name-wrapper h2.jobs{
    color: rgb(165,165,165);
}
#staff .staff-wrapper .staff-content hr{
    background-color: rgb(69,186,1);
	width: 60px;
	height: 5px;
	margin: 0px auto 30px;
}
#staff .staff-wrapper .staff-content p{
    font-family: 'open sans';
    font-weight: lighter;
    color: rgb(165,165,165);
}

@media (max-width: 480px) {
	#staff .staff-wrapper .staff-content.bar-size-4{
		width: 49%;
	}
	#staff .staff-wrapper .staff-content .img{
		width: 125px;
		height: 125px;
	}
	#staff .staff-wrapper .staff-content h2.name,
	#staff .staff-wrapper .staff-content h2.jobs{
		font-size: 16px;
	}
	#staff .staff-wrapper .staff-content hr{
		margin-bottom: 5px;
	}
	#staff .staff-wrapper .staff-content p{
		font-size: 12px;
		margin-bottom: 20px;
	}
}