#vam-wrapper{
	padding-top: 20px;
	padding-bottom: 60px;
}
#vam-wrapper .vam-content{
	position: relative;
	width: 100%;
}
#vam-wrapper .bar:nth-child(odd) .vam-content{
	text-align: left;
}
#vam-wrapper .bar:nth-child(even) .vam-content{
	margin-top: 20vh;
	text-align: right;
}
#vam-wrapper .vam-content .img{
	width: 30vw; 
	height: 90vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#vam-wrapper .bar:nth-child(even) .vam-content .img{
	float: right;
}
#vam-wrapper .vam-content .vam-descript-wrapper{
	position: absolute;
	z-index: 2;
	padding: 0px 10px;
	width: 40vw;
	height: 25vh;
	background-color: rgba(233,255,226,.8);
}
#vam-wrapper .bar:nth-child(odd) .vam-content .vam-descript-wrapper{
	left: 10vw;
	top: 30vh;
}
#vam-wrapper .bar:nth-child(even) .vam-content .vam-descript-wrapper{
	left: -15vw;
	top: 55vh;
}
#vam-wrapper .vam-content .vam-descript-wrapper .bar{
	display: table;
	height: 25vh;
}
#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle{
	display: table-cell;
	height: 25vh;
	vertical-align: middle;
}
#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle h2{
	text-align: center;
	font-family: 'open sans';
    font-weight: bold;
    font-style: italic;
    color: rgb(69,186,1);
}
#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle p{
	text-align: left;
	text-indent: 30px;
	font-family: 'open sans';
    font-weight: lighter;
    color: rgb(136,137,133);
}
#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle h2,
#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle p{
	margin: 0px;
}

@media (max-width: 480px) {
	#vam-wrapper{
		padding-bottom: 20px;
	}
	#vam-wrapper .vam-content .img{
		height: 30vh;
		width: 40vw;
	}
	#vam-wrapper .bar{
		width: 100%;
	}
	#vam-wrapper .bar:nth-child(even) .vam-content{
		margin-top: 0vh;
	}
	#vam-wrapper .bar .vam-content .vam-descript-wrapper{
		width: 35vw;
	}
	#vam-wrapper .bar:nth-child(odd) .vam-content .vam-descript-wrapper{
		left: 40vw;
		top: 0vh;
	}
	#vam-wrapper .bar:nth-child(even) .vam-content .vam-descript-wrapper{
		left: 0vw;
		top: 0vh;
	}
	#vam-wrapper .vam-content .vam-descript-wrapper{
		width: 50vw;
		padding: 10px;
	}
	#vam-wrapper .vam-content .vam-descript-wrapper .bar{
		display: block;
		float: none;
		width: 100%;
	}
	#vam-wrapper .vam-content .vam-descript-wrapper,
	#vam-wrapper .vam-content .vam-descript-wrapper .bar,
	#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle{
		height: auto;
	}
	#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle h2{
		font-size: 18px;
	}
	#vam-wrapper .vam-content .vam-descript-wrapper .bar .midle p{
		font-size: 9px;
	}
}