body{
	background-image: url('../../amadeo/main-image/children-bg.png');
	background-size: contain;
	background-repeat: repeat-y;
	background-position: center;
}
#iad{
	background-image: none;
}
#iad #index-wrapper label a{
	color: rgb(122,122,122);
}
#iad h1:nth-child(even){
    color: rgb(82,81,81);
}
#iad h3{
    color: rgb(82,81,81);
}

#footer{
	background-color: rgb(163,219,221);
	margin-top: 65px;
}
#footer:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 85px;
	top: -65px;
    left: 0;
	background-image: url('../../amadeo/main-image/children-ft.png');
}
#footer .footer-wrapper .footer-content .fa-stack-1x{
	color: rgb(163,219,221);
}

#index{
	padding-bottom: 65px;
}
#index .index-wrapper{
    position: relative;
    width: 25%;
    height: 73vh;
    padding: 0px .5%;
    margin-bottom: 40px;
    float: left;
    overflow: hidden;
}
#index .index-wrapper .img-back{
    width: 100%;
    height: 60vh;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 275px;
    overflow: hidden;
    position: relative;
    transition: all .51s;
}
#index .index-wrapper .img-back h2{
	color: rgb(69,186,1);
	font-family: 'open sans';
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0px 0px;
}
#index .index-wrapper .img-back .content{
	text-align: center;
    width: 70%;
    height: 40vh;
    margin-left: 50px;
    margin-top: 50px;
    padding: 0px 10px;
}
#index .index-wrapper .img-back .content .pict{
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    transition: all .51s;
}
#index .index-wrapper .img-back .content:hover .pict{
    height: 0;
}
#index .index-wrapper .img-back .content p{
	font-family: 'open sans';
    font-weight: lighter;
    color: rgb(122,122,122);
}
#index .index-wrapper .img-back .content p,
#index .index-wrapper .img-back .content a{
    visibility: hidden;
    opacity: 0;
    transition: all .51s;
}
#index .index-wrapper .img-back .content:hover p,
#index .index-wrapper .img-back .content:hover a{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 480px) {
    #index .index-wrapper{
        width: 100%;
    }
    #index .index-wrapper,
    #index .index-wrapper .img-back{
        height: 390px;
    }

    #index .index-wrapper .img-back .content{
        width: 65%;
        margin-left: 65px;
    }

    #footer:before{
        left: 0;
    }
}